[%
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev: 2115 $
## $Date: 2011-11-04 15:25:55 +0800 (Fri, 04 Nov 2011) $
%]

[%-PROCESS client/misc/header.cpp.tt-%]

#include "ekf_cpu.cpp"
