[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
[%-FOREACH ref IN action.get_vars(['input', 'param', 'noise', 'state', 'obs']) %]
[% ref.to_dot %] -> [% action.get_left.to_dot %];
[%-END-%]
