[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
[%-FOREACH ref IN action.get_vars %]
block[% block.get_id %]_[% ref.to_dot %] -> block[% block.get_id %]_[% action.get_target.to_dot %];
[%-END-%]
