[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
digraph model {
  compound=true;
  overlap=scale;
  splines=true;
  sep=.2;
  d2tgraphstyle="scale=0.6"
  nslimit=4.0;
  mclimit=4.0;

[% FOREACH name IN ['parameter', 'transition', 'observation'] %]
[%-INCLUDE block.dot.tt block = model.get_block(name) FILTER indent(2) %]
[%-END-%]
}
