/**
 * [% name %] model.
 */
model [% name %] {
  // declare constants...
  // declare dimensions...
  // declare variables...

  sub parameter {
    // specify the parameter model
  }

  sub initial {
    // specify the initial condition model
  }

  sub transition {
    // specify the transition model
  }

  sub observation {
    // specify the observation model
  }
}
