[%
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev: 2588 $
## $Date: 2012-05-23 04:52:41 +0000 (Wed, 23 May 2012) $
%]

[%-PROCESS client/misc/header.cpp.tt-%]

#include "smc2_cpu.cpp"
