[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
-%]

[%-MACRO dim_list(var) BLOCK-%]
[%-'[' IF var.get_dims.size-%]
[%-FOREACH dim IN var.get_dims-%]
[%-dim.get_name-%]
[%-IF !loop.last %],[% END-%]
[%-END-%]
[%-']' IF var.get_dims.size-%]
[%-END-%]
