      </section>
      <footer>
        <p class="acknowledgements"><small>LibBi has been developed under a <a href="http://www.csiro.au">CSIRO</a>
project that forms part of the <a href="http://www.csiro.au/en/Organisation-Structure/Divisions/Mathematics-Informatics-and-Statistics/Computational-simulation-sciences.aspx">Computational and Simulation
Sciences</a> platform.</small></p>

        <p class="acknowledgements"><small>Website theme adapted from work by <a href="https://github.com/orderedlist">orderedlist</a>.</small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    
  </body>
</html>
