<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.layout == 'package' %}LibBi package: {% endif %}{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>LibBi</h1>

        <ul class="buttons">
          <li><a href="https://github.com/libbi/LibBi/archive/stable.tar.gz"><strong>Download</strong> Stable</a></li>
          <li><a href="https://github.com/libbi/LibBi"><strong>View</strong> Dev</a></li>
        </ul>

        {% include pages.html %}

      </header>
      <section>
