[%
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
%]

[%-PROCESS action/misc/header.hpp.tt-%]

[% create_eval_var_target(action) %]

/**
 * Action: [% action.get_name %].
 */
struct [% class_name %] {
  /**
   * Target type.
   */
  typedef Target[% action.get_id %] target_type;

  /**
   * Variable type.
   */
  typedef Var[% action.get_target.get_var.get_name %] var_type;
};

[%-PROCESS action/misc/footer.hpp.tt-%]