[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
-%]
[%-MACRO create_block_typelist(block) BLOCK %]
/**
 * Type list of sub-blocks.
 */
BEGIN_TYPELIST(Block[% block.get_id %]BlockTypeList)
[% FOREACH subblock IN block.get_blocks-%]
SINGLE_TYPE(1, Block[% subblock.get_id %])
[% END-%]
END_TYPELIST()
[% END-%]
