[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
[%-MACRO write_output(expr) BLOCK-%]
/* compute and output */
x.template put<target_type>(p, ix, [% expr.to_cpp %]);
[%-END-%]
