[%
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
%]

[%-PROCESS client/misc/header.cpp.tt-%]
[%-PROCESS macro.hpp.tt-%]

#include "bi/resampler/MultinomialResampler.hpp"
#include "bi/resampler/MetropolisResampler.hpp"
#include "bi/resampler/RejectionResampler.hpp"
#include "bi/resampler/KernelResampler.hpp"
#include "bi/resampler/StratifiedResampler.hpp"
#include "bi/resampler/SystematicResampler.hpp"
#include "bi/random/Random.hpp"
#include "bi/pdf/GaussianPdf.hpp"
#include "bi/math/loc_vector.hpp"
#include "bi/math/loc_matrix.hpp"
#include "bi/misc/TicToc.hpp"

#include <iostream>
#include <string>
#include <unistd.h>
#include <getopt.h>

#include "netcdfcpp.h"

#ifndef ENABLE_CUDA
#define LOCATION ON_HOST
#else
#define LOCATION ON_DEVICE
#endif

int main(int argc, char* argv[]) {
  using namespace bi;

  /* command line arguments */
  [% read_argv(client) %]

  /* MPI init */
  #ifdef ENABLE_MPI
  boost::mpi::environment env(argc, argv);
  #endif
  
  /* NetCDF init */
  NcError ncErr(NcError::verbose_fatal);
  
  /* bi init */
  bi_init(THREADS);

  /* random number generator */
  Random rng(SEED);

  /* set up output file */
  NcFile* out = new NcFile(OUTPUT_FILE.c_str(), NcFile::Replace);
	
  NcDim* zDim = out->add_dim("z", ZS);
  NcDim* PDim = out->add_dim("P", PS);
  NcDim* repDim = out->add_dim("rep", REPS);
	  
  NcVar* sqerrVar = out->add_var("sqerr", ncDouble, zDim, PDim, repDim);
  NcVar* timeVar = out->add_var("time", ncInt, zDim, PDim, repDim);
  NcVar* PVar = out->add_var("P", ncInt, PDim);
  NcVar* zVar = out->add_var("z", ncDouble, zDim);
  
  /* resampler */
  [% IF client.get_named_arg('resampler') == 'metropolis' %]
  MetropolisResampler resam(C);
  [% ELSIF client.get_named_arg('resampler') == 'rejection' %]
  RejectionResampler resam;
  [% ELSIF client.get_named_arg('resampler') == 'multinomial' %]
  MultinomialResampler resam(ENABLE_SORT);
  [% ELSIF client.get_named_arg('resampler') == 'systematic' %]
  SystematicResampler resam(ENABLE_SORT);
  [% ELSIF client.get_named_arg('resampler') == 'stratified' %]
  StratifiedResampler resam(ENABLE_SORT);
  [% END %]

  /* buffers for weight-sets and results */
  typedef typename loc_vector<LOCATION,real>::type vector_type;
  typedef typename loc_matrix<LOCATION,real>::type matrix_type;
  typedef typename loc_vector<LOCATION,int>::type int_vector_type;
  typedef typename loc_matrix<LOCATION,int>::type int_matrix_type;
  
  /* generate particles (all on host so weight sets match on host and device) */
  int maxP = std::pow(2, PS + 4);
  int actualP = 0;
  
  host_matrix<real,-1,-1,-1,1> x(maxP*REPS, 1);  // particles
  host_matrix<real,-1,-1,-1,1> lW(maxP, REPS); // log-weights
  host_matrix<int,-1,-1,-1,1> times(REPS, PS);
  host_matrix<real,-1,-1,-1,1> sqerrs(REPS, PS);
  host_vector<int,-1,1> actualPs(PS);
  host_vector<real,-1,1> zs(ZS);
  
  GaussianPdf<> f(1), g(1);
  f.samples(rng, x);
  
  /* test */
  [% IF client.get_named_arg('with-gperftools') %]
  ProfilerStart(GPERFTOOLS_FILE.c_str());
  [% END %]
  TicToc timer;
  int z, p, rep, time;
  real sqerr;
  for (z = 0; z < ZS; ++z) {
    /* generate log-weights */
    if (z > 0) {
      addscal_elements(vec(x), 0.5, vec(x));
    }
    g.logDensities(x, vec(lW), true);
    zs(z) = 0.5*z;
    std::cerr << "z=" << zs(z) << ":";
  
    /* test on weight sets */
    for (p = 0; p < PS; ++p) {
      actualP = std::pow(2, p + 4);
      std::cerr << " " << actualP;
      actualPs(p) = actualP;
      
      vector_type lws(actualP);
      int_vector_type as(actualP);
      int_vector_type os(actualP);
      int_vector_type Os(actualP);
      seq_elements(as, 0); // needed for sort and ess    

      [% IF client.get_named_arg('resampler') == 'metropolis' %]
      real W = actualP*bi::exp(-0.25*zs(z)*zs(z))/(2.0*bi::sqrt(BI_PI));
      real wmax = (1.0/BI_SQRT_TWO_PI)/W;
      real beta = 1.0/actualP;
      real alpha = (1.0 - wmax)/(actualP*wmax);
      real epsilon = 1.0e-2*wmax;
      real lambda = 1.0 - alpha - beta;
      int B = (int)bi::ceil(bi::log(epsilon*(alpha + beta)/bi::max(alpha, beta))/bi::log(lambda));
      resam.setSteps(B);
      [% END %]
    
      for (rep = 0; rep < REPS; ++rep) {
        lws = subrange(column(lW, rep), 0, actualP);
        synchronize();
        timer.tic();
        
        [% IF client.get_named_arg('resampler') == 'stratified' %]
        resam.cumulativeOffspring(rng, lws, Os, actualP);
        resam.cumulativeOffspringToAncestorsPermute(Os, as);
        [% ELSIF client.get_named_arg('resampler') == 'systematic' %]
        resam.cumulativeOffspring(rng, lws, Os, actualP);
        resam.cumulativeOffspringToAncestorsPermute(Os, as);
        [% ELSIF client.get_named_arg('resampler') == 'rejection' %]
        real maxLogWeight = -BI_HALF_LOG_TWO_PI;
        resam.ancestorsPermute(rng, lws, as, maxLogWeight);
        [% ELSIF client.get_named_arg('resampler') == 'metropolis' %]
        resam.ancestorsPermute(rng, lws, as);
        [% ELSIF client.get_named_arg('resampler') == 'multinomial' %]
        resam.ancestors(rng, lws, as);
        resam.permute(as);
        [% ELSIF client.get_named_arg('resampler') == 'sort' %]
        bi::sort(lws);
        [% ELSIF client.get_named_arg('resampler') == 'ess' %]
        real ess = bi::ess_reduce(lws);
        [% END %]

        /* time */                
        synchronize();
        time = timer.toc();

        /* error */
        [% IF client.get_named_arg('resampler') != 'sort' && client.get_named_arg('resampler') != 'ess' %]
        resam.ancestorsToOffspring(as, os);
        synchronize();
        sqerr = bi::sqrt(resam.error(lws, os));
        [% ELSE %]
        sqerr = 0.0;
        [% END %]
        
        sqerrs(rep, p) = sqerr;
        times(rep, p) = time;
      }
    }
    
    /* output */
    if (out != NULL) {
      sqerrVar->set_cur(z, 0, 0);
      sqerrVar->put(sqerrs.buf(), 1, PS, REPS);
      timeVar->set_cur(z, 0, 0);
      timeVar->put(times.buf(), 1, PS, REPS);
    }
    std::cerr << std::endl;
  }
  
  PVar->put(actualPs.buf(), PS);
  zVar->put(zs.buf(), ZS);

  [% IF client.get_named_arg('with-gperftools') %]
  ProfilerStop();
  [% END %]
  
  /* clean up */
  out->sync();
  delete out;

  return 0;
}

