[%
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
%]

#include "bi/primitive/poset.hpp"

struct Coord {
  int x, y;
  
  Coord() {
    //
  }
  
  Coord(const int x, const int y) : x(x), y(y) {
    //
  }
  
  bool operator<(const Coord& o) const {
    return x < o.x && y < o.y;
  }
};

std::ostream& operator<<(std::ostream& out, const Coord& coord) {
  out << '(' << coord.x << ',' << coord.y << ')';
  return out;
}

int main(int argc, char* argv[]) {
  bi::poset<Coord> g;

  g.insert(Coord(1, 5));
  g.insert(Coord(2, 4));
  g.insert(Coord(6, 5));
  g.insert(Coord(3, 8));
  g.insert(Coord(2, 1));
  g.insert(Coord(5, 4));
  g.insert(Coord(4, 3));

  g.dot();

  return 0;
}

