[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
[%-MACRO alias_dims(action) BLOCK %]
  [%-i = 0-%]
  [%-FOREACH alias IN action.get_target.get_aliases %]
  const int [% alias.get_name %]_ = cox.[% action.get_left.get_var.get_dims.$i.get_name %][% i %];
  [%-i = i + 1-%]
  [%-END %]
[%-END-%]
