[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
[%-MACRO get_sparse_var(expr) BLOCK-%]
s.template getSparseVar<Var[% expr.get_var.get_name %]>(mask)
[%-END-%]
