[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
[%-MACRO put_output(expr) BLOCK-%]
/* compute and output */
x.template fetch<target_type>(s, p, ix) = [% expr.to_cpp %];
[%-END-%]
