[%-
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
-%]
[%-MACRO std_action BLOCK %]
  /**
   * Target type.
   */
  typedef Var[% action.get_left.get_var.get_id %] target_type;

  /**
   * Coordinate type.
   */
  typedef ActionCoord[% action.get_id %] coord_type;

  /**
   * Size of the action.
   */
  static const int SIZE = [% action.get_size %];

  /**
   * Is this a matrix action?
   */
  static const bool IS_MATRIX = [% action.is_matrix %];
[%-END-%]
