[%
## @file
##
## @author Lawrence Murray <lawrence.murray@csiro.au>
## $Rev$
## $Date$
%]

[%-PROCESS action/misc/header.hpp.tt-%]

/**
 * Action: [% action.get_name %].
 */
struct [% class_name %] {
  [% std_action %]
};

[%-PROCESS action/misc/footer.hpp.tt-%]